body{
    margin: 0px 30px 100px 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main{
    
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
.titulo-header{
    color: #D6000D;
}
header{
    display: flex;
}
.menu{
    width: 100%; 
    white-space: nowrap; /* impede que os menus quebrem */
    text-align: right;
}
.menu ul{
    position: relative;
    list-style-type: none;
    display: inline-block;
}
.menu ul li{
    padding: 15px 0;
    display: inline-block;
    font-size: 30px;
    padding-left: 45px;
    margin-top: 30px;
}
.menu ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
.btn-login{
    font-size: 30px;
    background-color: #D6000D;
    border-radius: 10px;
    padding: 10px 60px 10px 60px;
    border: none;
    color: white;
}
img{
    width: 460px;
}
.quadro-1{
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.quadro-1-direita{
    text-align: justify;
    margin-left: 150px;
}
.btn-orcamento{
    font-size: 30px;
    background-color: #D6000D;
    border-radius: 10px;
    padding: 10px 60px 10px 60px;
    border: none;
    color: white;
}
.quadro-2{
    margin-top: 200px;
}
.quadro-2-esquerda{
    float: left;
    font-size: 27px;
    margin-left: 50px;
    text-align: left;
}
.lista{
    text-align: left;
    list-style-type: none;
    margin-bottom: 100px;
}
.lista li{
    margin-bottom: 10px;
    font-size: 30px;
}
.check{
    width: 35px;
    margin-right: 30px;
}
.celular{
    font-size: 25px;
    background-color: rgb(214, 216, 218);
    border: none;
    border-radius: 10px;
    padding: 15px 0px 15px 50px;
}
.btn-ligamos{
    font-size: 25px;
    background-color: #D6000D;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
    border: none;
    color: white;
}
.depoimentos{
    margin-top: 300px;
    display: flex;
    align-items: center;
    margin-left: 30px;

}
.depoimento-1, .depoimento-2{
    background-color: rgb(214, 216, 218);
    border-radius: 10px;

}
.depoimento-1{
    float: left;
    margin-left: 50px;
    text-align: left;
    padding: 20px;
    display: flex;
}
.depoimento-2{
    float: right;
    margin-left: 50px;
    text-align: left;
    padding: 20px;
    display: flex;
}
.img-depoimento{
    width: 90px;
    padding: 20px;
}
.depoimento-texto h4{
    font-size: 20px;
}
.depoimento-texto h2{
    font-size: 30px;
}
.facebook, .instagram, .twitter{
    width: 35px;
}
footer{
    margin-top: 70px;
}
footer div{
    display: flex;
    text-align: justify;
}
footer div section{
    margin-left: 100px;
}
.footer-section{
    margin-top: 30px;
}